#tilogo {
	width: 200px;
	margin-left: -200px;
}

#roselogo {
	width: 200px;
	margin-right: -200px;
}

#banner {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color:#a1022d;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#header {
	height: 200px;
	background-color: #FFFFDD;
	padding-left: 200px;
	padding-right: 200px;
	font-size: 30px;
	border-bottom: solid 2px #909090; 
}

#header .column {
	position: relative;
	float: left;
	height: 100%;
	overflow: auto;
}

#TI_QC_logo, #slogan, #rose_logo, #rose_robotics_logo {
	width: 50%;
	vertical-align: middle;
	font-family: "Verdana", sans-serif;
}

#rose_logo, #rose_robotics_logo {
	float: right;
	position: absolute;
	bottom: 0;
}

#menu {
	overflow: auto;
	padding: 3%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#menu .menu {
	border-radius: 10px;
	border: solid 2px #909090;
	width: 32.5%;
	height: 25px;
	text-align: center;
	font-size: 20px;
	font-family: "Verdana", sans-serif;
	font-weight: bold;
	background-color: #D8D8D8;
	display: inline-block;
}

#menu .menu:hover {
	background-color: #C8C8C8;
}

#menu .menu:active{
	background-color: #99CCCC;
}

#container {
	background-color: #F0F0F0;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 250px;
	padding-right: 400px;
	height: 500px;
}

#container .content {
	position: relative;
	float: left;
	height: 100%;
	overflow: auto;
}

#parameter_frame {
	width: 250px;
	margin-left: -250px;
}

#streaming_frame {
	width: 500px;
	vertical-align: middle;
}

#control_frame {
	width: 400px;
	margin-right: -400px;
}

#container div {
	border-bottom: solid 2px #9090;
}

body {
	display: inline;
	overflow: auto;
}


#footer {
	text-align: center;
	vertical-align: middle;
	font-size: 9px;
}

ul.sub_tabs li {
	background-color: #D8D8D8;
	width:15%;
    list-style:none;
	text-align:center;
	height:50%;
	display:inline-block;
}

.sub_tabs {
	padding: 0px;
}

#movements li {
	display: inline-block;
}

#parameter_frame {
	font-family: "Verdana", sans-serif;
	font-size: 12px;
}

legend {
	font-weight: bold;
}






